@import "../../node_modules/normalize-scss/sass/normalize/import-now";
@import "_variables.scss";
@import "login.scss";
@import "profile.scss";
// @import "header.scss";
// @import "contacts.scss";
// @import "newContact.scss";

body {
  margin: 0;
  padding: 0;
  font-family: Avenir;
  font-weight: 100;
  background: $background;
  color: $main;
}
